#project {
    margin-top: 100px;
    text-align: center;
    font-weight: 400;

    h1, h2 {
        font-weight: 400;
    }
}

.pagination {
    display: flex;

    a {
        flex: 1;
        height: 265px;
        text-align: center;
        padding: 3rem;
        align-items: center;
        display: flex;
        justify-content: center;;
    }

    a.previous {
        background: #C7E2D1;
    }

    a.back-to-top {
        background: #64AE61;
        border-radius: 132px;
    }

    a.next {
        background: #CAAD3D;
    }
}
