.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.container a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    box-shadow: none;
}

.thirdcolumn {
    padding-right: 24px;
}