.billboard {
    background: royalblue;
    height: 90vh;
    widht: 100vw;
    position: relative;
    z-index: -1;
}

.container {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}